:root {
  --primary-color: #372e7f;
  --secondary-color: #ff6241;
  --accent-color: #ffc757;
  --neutral-color: #fffade;
}

.background-color {
  background-color: var(--neutral-color);
}

#logo {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 500;
}

h1 {
  color: var(--primary-color);
  font-family: "IBM Plex Mono", monospace;
  font-optical-sizing: auto;
  font-size: 64px;
  font-weight: 700;
}

h2,
h3,
body {
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
  text-align: center;
}

h2 {
  color: var(--primary-color);
  font-size: 40px;
  font-weight: 800;
}

h3,
body {
  font-size: 20px;
  font-weight: 400;
}

p {
  font-size: 18px;
}

a {
  text-decoration: none;
}

/* NAVIGATION BAR */
nav {
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.nav-color {
  color: var(--primary-color);
}

.nav-color:hover,
a.active {
  color: var(--secondary-color);
}

/* FOOTER */
footer {
  margin: 20px 60px;
}

footer .logo {
  font-family: "IBM Plex Mono", monospace;

  font-size: 38px;
  font-weight: 500;
}

footer .email-link,
.social-icons a {
  color: var(--primary-color);
  font-size: 20px;
  margin: 10px;
}

footer .email-link:hover {
  color: var(--secondary-color);
}
footer .social-icons a:hover {
  color: var(--secondary-color);
}

footer h6 {
  font-size: 12px;
}

/* HOMEPAGE */
.homepage-1-container {
  max-width: 1120px;
  padding: 150px 0;
}

.homepage-2-container {
  background-color: white;
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.15) 5px 5px 2.6px;
  padding: 100px 60px;
  margin: 0 auto;
}

.homepage-3-container {
  margin: 100px 0;
}

.homepage-button {
  background: var(--accent-color);
  border: 2px solid black;
  border-radius: 30px;
  box-shadow: black 4px 4px 0 0;
  color: black;
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  font-size: 20px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  transition: all 150ms ease;
}

.homepage-button:hover {
  background-color: var(--secondary-color);
  color: white;
}

@media (min-width: 768px) {
  .homepage-button {
    min-width: 120px;
    padding: 0 25px;
  }
}

.homepage-2-button {
  background: var(--secondary-color);
  border: 2px solid black;
  border-radius: 30px;
  box-shadow: black 4px 4px 0 0;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  font-size: 20px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  transition: all 150ms ease;
}

.homepage-2-button:hover {
  background-color: var(--primary-color);
  border: 2px solid black;
  box-shadow: black 4px 4px 0 0;
  color: white;
}

@media (min-width: 768px) {
  .homepage-2-button {
    min-width: 120px;
    padding: 0 25px;
  }
}

.hp-contact-button {
  background: var(--accent-color);
  border: 2px solid black;
  border-radius: 30px;
  box-shadow: black 4px 4px 0 0;
  color: black;
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  font-size: 20px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  transition: all 150ms ease;
}

.hp-contact-button:hover {
  background-color: var(--secondary-color);
  border: 2px solid black;
  box-shadow: black 4px 4px 0 0;
  color: white;
}

@media (min-width: 768px) {
  .hp-contact-button {
    min-width: 120px;
    padding: 0 50px;
  }
}

/* RESPONSIVE TESTING */
@media (max-width: 1199px) {
  .name-intro {
    font-size: 45px;
  }
}

@media (max-width: 460px) {
  .name-intro {
    font-size: 40px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .homepage-2-container {
    padding: 80px 40px;
  }

  .homepage-2-button {
    width: 168px;
    height: 50px;
    font-size: 15px;
    line-height: 20px;
  }

  footer {
    margin: 20px 40px;
  }
}

@media (max-width: 767px) {
  .hp-contact-header {
    font-size: 30px;
  }

  .homepage-2-container {
    padding: 60px 60px;
  }

  footer {
    margin: 20px 40px;
  }
}

@media (max-width: 575px) {
  .homepage-2-container {
    padding: 60px 30px;
  }

  footer .logo {
    font-size: 28px;
  }
}

@media (max-width: 475px) {
  .hp-2-title {
    font-size: 35px;
  }
}

@media (max-width: 392px) {
  .homepage-2-button {
    width: 168px;
    height: 50px;
    font-size: 15px;
    line-height: 20px;
  }
}

/* ABOUT ME PAGE */
.about-me {
  margin: 100px 0;
}

.about-me h1 {
  font-size: 45px;
  text-align: left;
}

.certificates h2 {
  color: var(--secondary-color);
  margin-bottom: 35px;
}

.certificates {
  background-color: var(--accent-color);
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.15) 5px 5px 2.6px;
  padding: 65px 50px;
}

.hobbies {
  margin: 100px 0;
}

.img-1 {
  width: 150px;
}

.img-2 {
  width: 120px;
}
