:root {
  --primary-color: #372e7f;
  --secondary-color: #ff6241;
  --accent-color: #ffc757;
  --lighter-accent: #ffcf70;
  --darker-accent: #ffc247;
  --neutral-color: #fffade;
}

.background-color {
  background-color: var(--neutral-color);
}

#logo {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 500;
}

h1 {
  color: var(--primary-color);
  font-family: "IBM Plex Mono", monospace;
  font-optical-sizing: auto;
  font-size: 45px;
  font-weight: 700;
}

h2,
h3,
body {
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
  text-align: center;
}

h2 {
  color: var(--primary-color);
  font-size: 35px;
  font-weight: 800;
}

h3,
body {
  font-size: 20px;
  font-weight: 400;
}

h6 {
  text-align: center;
}

p {
  font-size: 18px;
}

a {
  text-decoration: none;
}

/* NAVIGATION BAR */
nav {
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.nav-color {
  color: var(--primary-color);
}

.nav-color:hover,
a.active {
  color: var(--secondary-color);
}

/* FOOTER */
footer {
  margin: 15px 0;
}

footer .logo {
  font-family: "IBM Plex Mono", monospace;
  font-size: 38px;
  font-weight: 500;
}

.email-link,
.social-icons a {
  color: var(--primary-color);
  font-size: 20px;
  margin: 10px;
}

.email-link:hover {
  color: var(--secondary-color);
}
.social-icons a:hover {
  color: var(--secondary-color);
}

footer h6 {
  font-size: 14px;
}

/* HOMEPAGE */
.homepage-1-container {
  max-width: 1120px;
  padding: 150px 0;
}

.homepage-2-container {
  background-color: white;
  border-radius: 30px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 80px 60px;
  margin: 0 auto;
}

.homepage-3-container {
  margin: 100px 0;
}

.homepage-button {
  background: var(--accent-color);
  border: none;
  border-radius: 30px;
  color: black;
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  font-size: 20px;
  padding: 0 25px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  transition: all 150ms ease;
}

.homepage-button:hover {
  background-color: var(--accent-color);
  border: none;
  box-shadow: black 4px 5px 0 0;
  color: black;
}

@media (min-width: 768px) {
  .homepage-button {
    min-width: 120px;
    padding: 0 40px;
  }
}

.homepage-2-button {
  background: var(--secondary-color);
  border: none;
  border-radius: 30px;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  font-size: 20px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  transition: all 150ms ease;
}

.homepage-2-button:hover {
  background-color: var(--secondary-color);
  border: none;
  box-shadow: black 4px 5px 0 0;
  color: white;
}

@media (min-width: 768px) {
  .homepage-2-button {
    min-width: 120px;
    padding: 0 25px;
  }
}

.hp-contact-button {
  background: var(--accent-color);
  border: none;
  border-radius: 30px;
  color: black;
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  font-size: 20px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  transition: all 150ms ease;
}

.hp-contact-button:hover {
  background-color: var(--accent-color);
  border: none;
  box-shadow: black 4px 5px 0 0;
  color: black;
}

@media (min-width: 768px) {
  .hp-contact-button {
    min-width: 120px;
    padding: 0 50px;
  }
}

/* ABOUT ME PAGE */
.about-me {
  padding: 100px 0;
  max-width: 1120px;
}

.certificates h2 {
  color: var(--secondary-color);
  margin-bottom: 35px;
}

.certificates {
  background-color: var(--lighter-accent);
  border-radius: 30px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 40px;
}

.hobbies {
  margin: 100px 0;
}

/* PROJECTS PAGE */
.live-demo-button {
  background: var(--lighter-accent);
  border: none;
  border-radius: 30px;
  color: var(--secondary-color);
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  font-size: 20px;
  margin-right: 20px;
  padding: 0 25px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  transition: all 150ms ease;
}

.live-demo-button:hover {
  background-color: var(--lighter-accent);
  border: none;
  box-shadow: var(--secondary-color) 4px 4px 0 0;
  color: var(--secondary-color);
}

.view-source-button {
  background: white;
  border: 0.5px solid var(--secondary-color);
  border-radius: 30px;
  color: var(--secondary-color);
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  font-size: 20px;
  margin-right: 20px;
  padding: 0 25px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  transition: all 150ms ease;
}

.view-source-button:hover {
  background-color: white;
  border: 0.5px solid var(--secondary-color);
  box-shadow: var(--secondary-color) 4px 4px 0 0;
  color: var(--secondary-color);
}

.song-generator-project .row {
  margin-bottom: 100px;
}

/* CONTACT PAGE */
.contact-header {
  color: var(--secondary-color);
  font-size: 35px;
}

.form-container {
  max-width: 800px;
}

.form-entry {
  background-color: white;
  border: none;
  border-radius: 30px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 16px;
  margin: 0 0 100px 0;
  padding: 50px;
  width: 800px;
}

.form-entry input {
  border: 1px solid var(--secondary-color);
  border-radius: 10px;
  margin: 5px 0 10px 0;
  padding: 5px 12px;
  width: 100%;
}

.submit-button:hover {
  background-color: var(--accent-color);
  border: none;
  box-shadow: var(--secondary-color) 4px 4px 0 0;
  color: var(--secondary-color);
}

/* RESPONSIVE TESTING */
@media (min-width: 992px) {
  .name-intro {
    font-size: 64px;
  }

  .hobbies .row {
    margin: 25px 0;
  }

  .hobby-baking img {
    height: auto;
    width: 150px;
  }

  .hobby-photography img {
    height: 225px;
    width: auto;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .homepage-2-container {
    padding: 80px 40px;
  }

  .homepage-2-button {
    width: 168px;
    height: 50px;
    font-size: 15px;
    line-height: 20px;
  }

  .hobbies h2 {
    margin-bottom: 35px;
  }

  .hobby-photography img {
    height: 150px;
    width: auto;
  }
}

@media (min-width: 768px) {
  .profile-picture {
    display: flex;
    justify-content: start;
  }

  .about-details {
    display: flex;
    justify-content: start;
  }

  .all-projects h2,
  p {
    text-align: start;
    margin-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .homepage-2-container {
    padding: 60px 60px;
  }

  .picture-icons {
    margin-bottom: 50px;
  }

  .about-me h1 {
    font-size: 38px;
  }

  .hobbies .row img {
    margin: 20px;
  }

  .hobby-baking img {
    max-width: 200px;
  }

  .hobby-photography img {
    height: 250px;
  }

  .hobby-kdrama img {
    width: 250px;
  }

  .project-description {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }

  .cat-box {
    width: 266px;
    height: auto;
  }
}

@media (max-width: 575px) {
  .homepage-2-container {
    padding: 60px 30px;
  }

  footer .logo {
    font-size: 30px;
  }
}

@media (min-width: 416px) and (max-width: 460px) {
  .name-intro {
    font-size: 40px;
  }
}

@media (max-width: 415px) {
  .name-intro {
    font-size: 35px;
  }
}

@media (max-width: 392px) {
  .homepage-2-button {
    width: 168px;
    height: 50px;
    font-size: 15px;
    line-height: 20px;
  }
}
